POSTGRES_PORT=5433
ConnectionStrings__Postgres=Host=localhost;Port=5433;Database=botarbitragem;Username=botarbitragem;Password=botarbitragem
OddsProvider__ApiKey=YOUR_THE_ODDS_API_KEY
Administration__ApiKey=USE_A_LONG_RANDOM_SECRET
Automation__IngestionEnabled=true
Automation__ScanEnabled=true
Automation__IntervalSeconds=300
Telegram__Enabled=true
Telegram__BotToken=YOUR_TELEGRAM_BOT_TOKEN
Telegram__ChatId=YOUR_TELEGRAM_GROUP_CHAT_ID
Telegram__MessageThreadId=
Monitoring__Enabled=true
Monitoring__IntervalMinutes=10
